<!-- Footer-->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Версия</b> 1.0.0
    </div>
    <strong>Все права защищены &copy; 2019 <a href="/" target="_blank">Фатум</a></strong>
  </footer>
<!-- end Footer-->