    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/business_vacancy/">
            <i class="fa fa-files-o"></i> <span>Вакансии компании</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ company_vacancies|length }}</small>
            </span>
        </a>
    </li>
    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/business_order/">
            <i class="fa fa-files-o"></i> <span>Заявки компании</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ company_order|length }}</small>
            </span>
        </a>
    </li>
    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/business_order/">
            <i class="fa fa-files-o"></i> <span>Тесты компании</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ my_companies_list|length }}</small>
            </span>
        </a>
    </li>
