    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/my_companies/">
            <i class="fa fa-files-o"></i> <span>Учебные группы</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ my_companies_list|length }}</small>
            </span>
        </a>
    </li>

    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/my_companies/">
            <i class="fa fa-files-o"></i> <span>Заявки работодателей</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ my_companies_list|length }}</small>
            </span>
        </a>
    </li>

