<!--navigation-->
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>D</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Фатум</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% if current_user.image  %}{{ MEDIA_URL }}{{ current_user.image }}{% else %}{{ STATIC_URL }}images/logo.png{% endif %}" class="user-image" alt="{{ request.user.get_short_name }}">
                        <span class="hidden-xs">{{ request.user.get_short_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{% if current_user.image  %}{{ MEDIA_URL }}{{ current_user.image }}{% else %}{{ STATIC_URL }}images/logo.png{% endif %}" class="img-circle" alt="{{ request.user.get_short_name }}">

                            <p>
                                {{ request.user.get_full_name }}

                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Личный кабинет</a>
                            </div>
                            <div class="pull-right">
                                <a href="/accounts/logout/" class="btn btn-default btn-flat">Выход</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% if current_user.image  %}{{ MEDIA_URL }}{{ current_user.image }}{% else %}{{ STATIC_URL }}images/logo.png{% endif %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ request.user.get_short_name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
{#        <form action="#" method="get" class="sidebar-form">#}
{#            <div class="input-group">#}
{#                <input type="text" name="q" class="form-control" placeholder="Поиск компании...">#}
{#          <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </span>#}
{#            </div>#}
{#        </form>#}
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            {% if navigation_template %}
                {% include navigation_template %}
            {% endif %}
{#            <li class="">#}
{#                <hr/>#}
{#            </li>#}
{#            <li class="">#}
{#                <a href="/lk_specialist/">#}
{#                    <i class="fa fa-pie-chart"></i> <span>ЛК специалиста</span>#}
{#                </a>#}
{#            </li>#}
{#            <li class="">#}
{#                <a href="/lk_business/">#}
{#                    <i class="fa fa-pie-chart"></i> <span>ЛК работодателя</span>#}
{#                </a>#}
{#            </li>#}
{#            <li class="">#}
{#                <a href="/lk_education/">#}
{#                    <i class="fa fa-pie-chart"></i> <span>ЛК университета</span>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--end navigation-->