    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/my_companies/">
            <i class="fa fa-files-o"></i> <span>Мои компетенции</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">{{ my_companies_list|length }}</small>
            </span>
        </a>
    </li>

    <li class="treeview active">
        <a href="/my_deals/">
            <i class="fa fa-book"></i> <span>Мои курсы</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      <small class="label pull-right bg-blue">{{ count_manager_current_deals }}</small>
    </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/current_deals/"><i class="fa fa-circle-o"></i> Текущие курсы
                <span class="pull-right-container">
                  <small class="label pull-right bg-blue">{{ count_manager_current_deals }}</small>
                </span>
            </a></li>
            <li><a href="/current_deals/"><i class="fa fa-circle-o"></i> Завершенные курсы
                <span class="pull-right-container">
                  <small class="label pull-right bg-blue">{{ count_manager_current_deals }}</small>
                </span>
            </a></li>
        </ul>
    </li>

    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/my_companies/">
            <i class="fa fa-files-o"></i> <span>Моя группа</span>
        </a>
    </li>

    <li class="{% if my_companies_active %}active{% endif %}">
        <a href="/my_companies/">
            <i class="fa fa-files-o"></i> <span>Мое трудоустройство</span>
        </a>
    </li>
