{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="ru" >

<head>
  <meta charset="UTF-8">
  <title>Фатум - управляй своей судьбой и судьбой страны!</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="{{ STATIC_URL }}login/css/style.css">
  
</head>

<body>

  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Фатум</h1>
  <span>Управляй своей судьбой и судьбой страны!</span>
  <!-- <span>Pen <i class='fa fa-paint-brush'></i> + <i class='fa fa-code'></i> by <a href='http://andytran.me'>Andy Tran</a></span>-->
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class=""><!-- <i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Регистрация</div>-->
  </div>
  <div class="form">
    <h2>Войти</h2>
      {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        <br/>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
        <br/>
      {% endif %}

    <form role="form" action="" method="post">{% csrf_token %}
        {{ form.username.errors }}
      <input type="text" name="username" id="username" placeholder="Имя пользователя"/>
        {{ form.password.errors }}
      <input type="password" name="password" id="password" placeholder="Пароль"/>
      <button>Войти</button>
    </form>
  </div>
  <!-- <div class="form">
    <h2>Создать нового пользователя</h2>
    <form>
      <input type="text" placeholder="Имя пользователя"/>
      <input type="password" placeholder="Пароль"/>
      <input type="email" placeholder="Электронный адрес"/>
      <input type="tel" placeholder="Телефон"/>
      <button>Зарегистрироваться</button>
    </form>
  </div>-->
{#  <div class="cta"><a href="http://andytran.me">Забыли свой пароль?</a></div>#}
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://codepen.io/andytran/pen/vLmRVp.js'></script>

  

    <script  src="{{ STATIC_URL }}/login/js/index.js"></script>




</body>

</html>
