{% extends "catalog.html" %}
{% block content %}
     <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
{#                Сделки#}
{#                Добро пожаловать!!!#}
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-edit"></i> Главная</a></li>
{#                <li class="active">Мои сделки</li>#}
                <li class="active">Приветствие</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">


                <div class="col-xs-12">
                    <h1> Вакансии компании {{ request.user.get_short_name }}</h1>
                </div>

            </div>
            <br/>

              <div class="row">

                {% for item in company_vacancies %}
                    <div class="col-md-3">
                      <div class="box box-warning collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title">{{ item.name }}</h3>
                            <div>{{ item.business.name }}</div>
                            <div>{{ item.business.city }}</div>
                            {% if item.vacancy.cost %}<div>Зарплата: {{ item.cost|floatformat }}</div>{% endif %}
                            <div>Сайт: <a href="{{ item.business.site }}">{{ item.business.site }}</a></div>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                          </div>
                          <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% for itm in item.get_competence %}
                              <div class="box-header with-border">{{ itm.competence.name }} <span class="pull-right badge bg-green">{{ itm.value_expected }}</span></div>
                            {% endfor %}
                        </div>
                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}



              </div>
              <!-- /.row (main row) -->

            </section>
        <!-- /.content -->
    </div>


    <!-- /.content-wrapper -->
{% endblock %}