{% extends "catalog.html" %}
{% block content %}
     <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
{#            <h1>#}
{#                Сделки#}
{#                Добро пожаловать!!!#}
{#            </h1>#}
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-edit"></i> Главная</a></li>
                <li class="active">Приветствие</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">


                <div class="col-xs-12">
                    <h1> Добро пожаловать, {{ request.user.get_full_name }}!</h1>

                    <h2>Личный кабинет Работодателя</h2>
</div>

        </div>

        </section>
        <!-- /.content -->
    </div>


    <!-- /.content-wrapper -->
{% endblock %}