@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600");
body
{
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
h1
{
    color: #222;
    font-family: "Poppins",sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
h2
{
    color: #222;
    font-family: "Poppins",sans-serif;
    font-size: 36px;
    font-weight: 600;
}
h3
{
    color: #222;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
h4
{
    color: #222;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
h5
{
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
h6
{
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover
{
    text-decoration: none;
}
a:focus
{
    text-decoration: none;
}
input:focus,textarea:focus
{
    outline: none;
}
.spinner
{
    animation: sk-scaleout 1.0s infinite ease-in-out;
    background-color: #ff9902;
    border-radius: 100%;
    height: 40px;
    margin: 100px auto;
    webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    width: 40px;
}
@-webkit-keyframes sk-scaleout
{
    0%
    {
        webkit-transform: scale(0);
    }
    100%
    {
        opacity: 0;
        webkit-transform: scale(1);
    }
}
@keyframes sk-scaleout
{
    0%
    {
        transform: scale(0);
        webkit-transform: scale(0);
    }
    100%
    {
        opacity: 0;
        transform: scale(1);
        webkit-transform: scale(1);
    }
}
.preloader
{
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.preloader .spinner
{
    left: 50%;
    margin: 0;
    moz-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
}
.main-menu ul
{
    float: right;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .main-menu ul
    {
        background: #f9f9f9;
        display: none;
        float: left;
        left: 0;
        padding: 20px 20px 30px;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 4;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .main-menu ul
    {
        background: #f9f9f9;
        display: none;
        float: left;
        left: 0;
        padding: 20px 20px 30px;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 4;
    }
}
@media (max-width: 575.98px)
{
    .main-menu ul
    {
        background: #f9f9f9;
        display: none;
        float: left;
        left: 0;
        padding: 20px 20px 30px;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 4;
    }
}
.main-menu ul li
{
    display: inline;
    position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .main-menu ul li
    {
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .main-menu ul li
    {
        display: block;
    }
}
@media (max-width: 575.98px)
{
    .main-menu ul li
    {
        display: block;
    }
}
.main-menu ul li a
{
    color: #222;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
}
.main-menu ul li:hover ul.sub-menu
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    left: 30px;
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.main-menu ul li ul.sub-menu
{
    background: #f9f9f9;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    left: 0;
    moz-transition: .5s;
    opacity: 0;
    o-transition: .5s;
    padding: 10px;
    position: absolute;
    top: 250%;
    transition: .5s;
    visibility: hidden;
    webkit-transition: .5s;
    width: 250px;
    z-index: 5;
}
.main-menu ul li ul.sub-menu li
{
    display: block;
}
.main-menu ul li ul.sub-menu li a
{
    moz-transition: .3s;
    o-transition: .3s;
    transition: .3s;
    webkit-transition: .3s;
}
.main-menu ul li ul.sub-menu li a:hover
{
    color: #ff9902;
}
.main-menu .menu-btn
{
    display: inline;
    margin-left: 60px;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .main-menu .menu-btn
    {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .main-menu .menu-btn
    {
        margin-left: 0;
    }
    .main-menu .menu-btn .login
    {
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .main-menu .menu-btn
    {
        margin-left: 0;
    }
    .main-menu .menu-btn .login
    {
        display: block;
    }
}
@media (max-width: 575.98px)
{
    .main-menu .menu-btn
    {
        margin-left: 0;
    }
    .main-menu .menu-btn .login
    {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .main-menu.main-menu-light ul
    {
        background: #04091e;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .main-menu.main-menu-light ul
    {
        background: #04091e;
    }
}
@media (max-width: 575.98px)
{
    .main-menu.main-menu-light ul
    {
        background: #04091e;
    }
}
.main-menu.main-menu-light ul ul.sub-menu
{
    background: #04091e;
}
.main-menu.main-menu-light a
{
    color: #fff;
}
.custom-navbar
{
    background: #ff9902;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    moz-border-radius: 3px;
    moz-transition: .2s;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    o-transition: .2s;
    padding: 7px 10px;
    position: absolute;
    right: 15px;
    top: -42px;
    transition: .2s;
    webkit-border-radius: 3px;
    webkit-transition: .2s;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .custom-navbar
    {
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .custom-navbar
    {
        display: block;
    }
}
@media (max-width: 575.98px)
{
    .custom-navbar
    {
        display: block;
    }
}
.custom-navbar span
{
    background: #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
    width: 30px;
}
.header-area.main-header
{
    padding: 30px 0;
}
.header-top
{
    padding: 30px 0;
    position: relative;
}
.header-top img
{
    margin-top: 10px;
}
.header-top .template-btn
{
    margin-left: 30px;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .header-top .template-btn
    {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .header-top .template-btn
    {
        margin-left: 15px;
        margin-top: 15px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .header-top .template-btn
    {
        margin-left: 15px;
        margin-top: 15px;
    }
}
@media (max-width: 575.98px)
{
    .header-top .template-btn
    {
        margin-left: 15px;
        margin-top: 15px;
    }
}
.banner-area .banner-bg
{
    background-color: #b0b0b0;
    background-image: url("../images/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    width: 100%;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .banner-area .banner-bg
    {
        height: 500px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .banner-area .banner-bg
    {
        height: 350px;
    }
}
@media (max-width: 575.98px)
{
    .banner-area .banner-bg
    {
        height: 300px;
    }
}
.banner-area .banner-text
{
    padding: 0 47% 0 5%;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .banner-area .banner-text
    {
        padding: 0 5%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .banner-area .banner-text
    {
        padding: 50px 5%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .banner-area .banner-text
    {
        padding: 50px 5%;
    }
}
@media (max-width: 575.98px)
{
    .banner-area .banner-text
    {
        padding: 50px 5%;
    }
}
.banner-area .banner-text h1 span
{
    color: #ff9902;
}
.search-bg
{
    margin-top: -50px;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .search-bg
    {
        margin-top: 0;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .search-bg
    {
        margin-top: 0;
    }
}
@media (max-width: 575.98px)
{
    .search-bg
    {
        margin-top: 100px;
    }
}
.search-bg form
{
    background: #ff9902;
    padding: 40px;
}
.search-bg form input
{
    border: none;
    border-radius: 5px;
    display: inline-block;
    moz-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    padding: 0 20px;
    webkit-border-radius: 5px;
    width: 280px;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .search-bg form input
    {
        width: 220px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .search-bg form input
    {
        width: 150px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .search-bg form input
    {
        margin-bottom: 20px;
        padding: 16px 20px;
        width: 100%;
    }
}
@media (max-width: 575.98px)
{
    .search-bg form input
    {
        margin-bottom: 20px;
        padding: 16px 20px;
        width: 100%;
    }
}
.search-bg form .template-btn
{
    background: #111;
    border: none;
    cursor: pointer;
}
.search-bg form .template-btn:hover
{
    background: #f9f9f9;
    color: #222 !important;
}
.nice-select
{
    border: none;
    border-radius: 5px;
    display: inline-block;
    height: 55px;
    moz-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    padding: 0 20px;
    webkit-border-radius: 5px;
    width: 280px;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .nice-select
    {
        width: 220px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .nice-select
    {
        width: 150px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .nice-select
    {
        margin-bottom: 20px;
        padding: 16px 20px;
        width: 100%;
    }
}
@media (max-width: 575.98px)
{
    .nice-select
    {
        margin-bottom: 20px;
        padding: 16px 20px;
        width: 100%;
    }
}
.nice-select span.current
{
    display: inline-block;
    font-size: 16px;
    line-height: 56px;
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .nice-select span.current
    {
        line-height: 0px;
    }
}
@media (max-width: 575.98px)
{
    .nice-select span.current
    {
        line-height: 0px;
    }
}
.nice-select .list
{
    width: 100%;
}
.feature-area .single-feature
{
    background: #f9f9f9;
    moz-transition: .3s;
    o-transition: .3s;
    padding: 40px;
    transition: .3s;
    webkit-transition: .3s;
}
.feature-area .single-feature:hover
{
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    moz-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    webkit-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.single-category
{
    background: #f9f9f9;
    border: 1px solid #eee;
    moz-transition: .3s;
    o-transition: .3s;
    padding: 30px 16px;
    transition: .3s;
    webkit-transition: .3s;
}
.single-category:hover
{
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    moz-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    webkit-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.single-category img
{
    margin-bottom: 20px;
}
.jobs-title
{
    margin-bottom: 40px;
}
.jobs-tab
{
    float: right;
    margin-bottom: 40px;
    text-align: right;
}
@media (max-width: 575.98px)
{
    .jobs-tab
    {
        float: left;
        text-align: left;
    }
}
.jobs-tab li
{
    display: inline-block;
    margin-left: 40px;
    padding: 3px 0;
    position: relative;
}
@media (max-width: 575.98px)
{
    .jobs-tab li
    {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 24px;
    }
}
.jobs-tab li:after
{
    background: #222;
    bottom: 0;
    content: '';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 1px;
    moz-transition: .5s;
    opacity: 0;
    o-transition: .5s;
    position: absolute;
    right: 0;
    transition: .5s;
    visibility: hidden;
    webkit-transition: .5s;
    width: 30px;
}
.jobs-tab li:hover:after
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}
.jobs-tab .active
{
    color: #ff9902;
}
.jobs-tab .active:after
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}
.single-job
{
    background: #f9f9f9;
    border-radius: 3px;
    moz-border-radius: 3px;
    moz-transition: .5s;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    o-transition: .5s;
    padding: 40px 50px;
    transition: .5s;
    webkit-border-radius: 3px;
    webkit-transition: .5s;
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .single-job
    {
        padding: 40px 30px;
    }
}
@media (max-width: 575.98px)
{
    .single-job
    {
        padding: 40px 20px;
    }
}
.single-job:hover
{
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    moz-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.single-job .job-text i
{
    font-size: 14px;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .single-job .job-img
    {
        margin: 30px 0;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .single-job .job-img
    {
        margin: 30px 0;
    }
}
@media (max-width: 575.98px)
{
    .single-job .job-img
    {
        margin: 30px 0;
    }
}
.single-job .job-btn
{
    text-align: center;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .single-job .job-btn
    {
        text-align: left;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .single-job .job-btn
    {
        text-align: left;
    }
}
@media (max-width: 575.98px)
{
    .single-job .job-btn
    {
        text-align: left;
    }
}
.single-job .job-btn .job-btn1,.single-job .job-btn .job-btn2,.single-job .job-btn .job-btn3,.single-job .job-btn .job-btn4
{
    background: #00afed;
    display: block;
    margin-bottom: 10px;
}
.single-job .job-btn .job-btn1:hover,.single-job .job-btn .job-btn2:hover,.single-job .job-btn .job-btn3:hover,.single-job .job-btn .job-btn4:hover
{
    background: #222;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .single-job .job-btn .job-btn1,.single-job .job-btn .job-btn2,.single-job .job-btn .job-btn3,.single-job .job-btn .job-btn4
    {
        display: inline-block;
        margin-right: 10px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .single-job .job-btn .job-btn1,.single-job .job-btn .job-btn2,.single-job .job-btn .job-btn3,.single-job .job-btn .job-btn4
    {
        display: inline-block;
        margin-right: 10px;
    }
}
@media (max-width: 575.98px)
{
    .single-job .job-btn .job-btn1,.single-job .job-btn .job-btn2,.single-job .job-btn .job-btn3,.single-job .job-btn .job-btn4
    {
        display: inline-block;
        margin-right: 10px;
    }
}
.single-job .job-btn .job-btn2
{
    background: #cc2229;
}
.single-job .job-btn .job-btn3
{
    background: #0088cc;
}
.single-job .job-btn .job-btn4
{
    background: #2dc100;
}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active
{
    color: #ff9902;
}
.nav-tabs .nav-link
{
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link
{
    color: #222;
    display: block;
    padding: 0;
}
.nav-tabs
{
    border-bottom: none;
}
.newsletter-area
{
    background-color: #f9f9f9;
    background-image: url("../images/newsletter-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
}
.newsletter-area:after
{
    background: rgba(1,2,12,0.6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.newsletter-area h2,.newsletter-area p
{
    color: #fff;
}
.newsletter-area input
{
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    moz-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    padding: 13px 20px;
    webkit-border-radius: 5px;
    width: 360px;
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .newsletter-area input
    {
        width: 300px;
    }
}
@media (max-width: 575.98px)
{
    .newsletter-area input
    {
        width: 100%;
    }
}
.newsletter-area .template-btn
{
    margin-left: 10px;
}
@media (max-width: 575.98px)
{
    .newsletter-area .template-btn
    {
        margin-left: 0;
        margin-top: 30px;
    }
}
.single-slide:hover .hover-state
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}
.slide-img
{
    background: #b0b0b0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    position: relative;
    width: 100%;
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .slide-img
    {
        height: 280px;
    }
}
@media (max-width: 575.98px)
{
    .slide-img
    {
        height: 260px;
    }
}
.slide-img .hover-state
{
    background: rgba(255,153,2,0.7);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 100%;
    left: 0;
    moz-transition: .5s;
    opacity: 0;
    o-transition: .5s;
    position: absolute;
    top: 0;
    transition: .5s;
    visibility: hidden;
    webkit-transition: .5s;
    width: 100%;
}
.slide-img .hover-state .hover-text
{
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}
.slide-img .hover-state .hover-text h3,.slide-img .hover-state .hover-text h5
{
    color: #fff;
}
.employee1
{
    background-image: url("../images/employee1.jpg");
}
.employee2
{
    background-image: url("../images/employee2.jpg");
}
.slide-text
{
    background: #fff;
    box-shadow: 0 7px 20px rgba(0,0,0,0.1);
    margin-left: -10px;
    margin-right: 10px;
    moz-box-shadow: 0 7px 20px rgba(0,0,0,0.1);
    padding: 30px 30px 15px;
    position: relative;
    webkit-box-shadow: 0 7px 20px rgba(0,0,0,0.1);
}
@media (max-width: 575.98px)
{
    .slide-text
    {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
.slide-text i
{
    color: #ff9902;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    font-size: 20px;
    left: 15px;
    opacity: .7;
    position: absolute;
    top: 15px;
}
.single-news:hover a
{
    color: #ff9902;
}
.news-img
{
    background-color: #b0b0b0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 280px;
    moz-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    webkit-border-radius: 5px;
    width: 100%;
}
.news-img1
{
    background-image: url("../images/news1.jpg");
}
.news-img2
{
    background-image: url("../images/news2.jpg");
}
.news-img3
{
    background-image: url("../images/news3.jpg");
}
.news-tag li
{
    display: inline-block;
}
.news-tag li i
{
    font-size: 14px;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
.news-tag span
{
    background: #777;
    display: block;
    height: 12px;
    width: 1px;
}
.news-title a
{
    color: #222;
    moz-transition: .5s;
    o-transition: .5s;
    transition: .5s;
    webkit-transition: .5s;
}
.download-area
{
    background: #f9f9f9;
}
.download-area .download-text
{
    margin-top: 50px;
    padding: 0 10% 0 42%;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .download-area .download-text
    {
        margin-top: 0;
        padding: 0 5%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .download-area .download-text
    {
        margin-bottom: 20px;
        margin-top: 0;
        padding: 0 5%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .download-area .download-text
    {
        margin-bottom: 20px;
        margin-top: 0;
        padding: 0 5%;
    }
}
@media (max-width: 575.98px)
{
    .download-area .download-text
    {
        margin-bottom: 20px;
        margin-top: 0;
        padding: 0 5%;
    }
}
.download-area .download-img
{
    background-image: url("../images/mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 460px;
    width: 100%;
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .download-area .download-img
    {
        background-size: cover;
        height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .download-area .download-img
    {
        background-size: cover;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .download-area .download-img
    {
        background-size: cover;
        height: 300px;
        width: 90%;
    }
}
@media (max-width: 575.98px)
{
    .download-area .download-img
    {
        background-size: cover;
        height: 180px;
        width: 90%;
    }
}
.footer-area
{
    background: #04091e;
    color: #fff;
}
.footer-area h3
{
    color: #fff;
}
.footer-area a
{
    color: #fff;
    text-transform: capitalize;
}
.footer-area input
{
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    moz-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    padding: 13px 20px;
    webkit-border-radius: 5px;
    width: 250px;
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .footer-area input
    {
        width: 250px;
    }
}
@media (max-width: 575.98px)
{
    .footer-area input
    {
        width: 100%;
    }
}
.footer-area .template-btn
{
    margin-left: 10px;
}
@media (max-width: 575.98px)
{
    .footer-area .template-btn
    {
        margin-left: 0;
        margin-top: 30px;
    }
}
.footer-area img
{
    height: 55px;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 55px;
}
.footer-copyright
{
    margin-top: 70px;
}
.footer-copyright .color
{
    color: #ff9902;
}
.footer-copyright ul
{
    float: right;
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .footer-copyright ul
    {
        float: left;
        margin-top: 30px;
    }
}
@media (max-width: 575.98px)
{
    .footer-copyright ul
    {
        float: left;
        margin-top: 30px;
    }
}
.footer-copyright ul li
{
    display: inline;
    margin-left: 10px;
}
.footer-copyright ul li i
{
    background: #fff;
    color: #777;
    display: inline-block;
    height: 40px;
    line-height: 20px;
    moz-transition: .3s;
    o-transition: .3s;
    padding: 10px;
    text-align: center;
    transition: .3s;
    webkit-transition: .3s;
    width: 40px;
}
.footer-copyright ul li i:hover
{
    background: #ff9902;
    color: #fff;
}
.header-area.single-page
{
    background-color: #b0b0b0;
    background-image: url("../images/page-header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.header-area.single-page:after
{
    background: rgba(1,2,12,0.6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.header-area.single-page .page-title
{
    padding: 140px 0 200px;
}
.header-area.single-page .page-title h2,.header-area.single-page .page-title p
{
    color: #fff;
}
.single-team:hover .hover-state
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}
.team-img
{
    background-color: #b0b0b0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    width: 100%;
}
.team-img .hover-state
{
    background: rgba(255,153,2,0.7);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 100%;
    left: 0;
    moz-transition: .5s;
    opacity: 0;
    o-transition: .5s;
    position: absolute;
    top: 0;
    transition: .5s;
    visibility: hidden;
    webkit-transition: .5s;
    width: 100%;
}
.team-img .hover-state ul
{
    left: 50%;
    moz-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
}
.team-img .hover-state ul li
{
    display: inline;
    margin: 0 7px;
}
.team-img .hover-state ul li a
{
    color: #fff;
    moz-transition: .3s;
    o-transition: .3s;
    transition: .3s;
    webkit-transition: .3s;
}
.team-img .hover-state ul li a:hover
{
    color: #222;
}
.team-img1
{
    background-image: url("../images/team1.jpg");
}
.team-img2
{
    background-image: url("../images/team2.jpg");
}
.team-img3
{
    background-image: url("../images/team3.jpg");
}
.team-img4
{
    background-image: url("../images/team4.jpg");
}
.single-content2,.single-content3,.single-content4,.single-content5,.single-content6
{
    border-bottom: 1px solid #eee;
}
.single-content4 ul
{
    list-style: inherit;
    padding-left: 50px;
}
.single-content7 ul
{
    list-style: inherit;
    padding-left: 20px;
}
.sidebar .single-item
{
    background: #f9f9f9;
    padding: 30px;
}
.newsletter-area.job-single:after
{
    background: rgba(255,153,2,0.7);
}
.single-table
{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding-bottom: 40px;
    webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.single-table:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    moz-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.single-table:hover .table-top
{
    background: #ff9902;
}
.single-table:hover .table-top h3,.single-table:hover .table-top i
{
    color: #fff;
}
.single-table .table-top
{
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    moz-transition: .5s;
    o-transition: .5s;
    padding: 40px 0;
    transition: .5s;
    webkit-transition: .5s;
}
.single-table .table-top i
{
    color: #ff9902;
    font-size: 50px;
    margin-top: 10px;
}
.single-table .template-btn
{
    background: #f9f9f9;
    color: #222 !important;
}
.single-table .template-btn:hover
{
    background: #ff9902;
    color: #fff !important;
}
.single-box1,.single-box2
{
    background: #ff9902;
    padding: 70px 50px;
}
.single-box1 h3,.single-box2 h3,.single-box1 p,.single-box2 p
{
    color: #fff;
}
.single-box1 .template-btn,.single-box2 .template-btn
{
    background: #ffa31c;
}
.single-box2
{
    background: #111;
}
.single-box2 .template-btn
{
    border: 1px solid transparent;
}
.single-box2 .template-btn:hover
{
    border: 1px solid #ff9902;
}
.job-single-content .jobs-tab
{
    float: left;
}
#mapBox
{
    height: 420px;
    overflow: hidden;
    width: 100%;
}
.into-icon i
{
    color: #ff9902;
    font-size: 20px;
    margin-right: 20px;
}
.contact-form form .left,.commentform-area form .left
{
    float: left;
    margin-right: 4%;
    overflow: hidden;
    width: 48%;
}
@media (max-width: 575.98px)
{
    .contact-form form .left,.commentform-area form .left
    {
        float: none;
        width: 100%;
    }
}
.contact-form form .left input,.commentform-area form .left input
{
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 12px 20px;
    width: 100%;
}
.contact-form form .right,.commentform-area form .right
{
    overflow: hidden;
    width: 48%;
}
@media (max-width: 575.98px)
{
    .contact-form form .right,.commentform-area form .right
    {
        float: none;
        width: 100%;
    }
}
.contact-form form .right textarea,.commentform-area form .right textarea
{
    border: 1px solid #eee;
    padding: 12px 20px;
    width: 100%;
}
.contact-form form button,.commentform-area form button
{
    float: right;
    margin-top: 20px;
}
@media (max-width: 575.98px)
{
    .contact-form form button,.commentform-area form button
    {
        float: left;
    }
}
.blog-menu
{
    padding: 20px 0;
}
.top_menu
{
    background: #928c91;
}
.top_menu .header_social li
{
    display: inline-block;
    margin-right: 15px;
}
.top_menu .header_social li a
{
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 42px;
    moz-transition: .3s;
    o-transition: .3s;
    transition: .3s;
    webkit-transition: .3s;
}
.top_menu .header_social li:last-child
{
    margin-right: 0px;
}
.top_menu .header_social li:hover a
{
    color: #ff9902;
}
.top_menu .dn_btn
{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 42px;
    margin-right: 30px;
    moz-transition: .3s;
    o-transition: .3s;
    transition: .3s;
    webkit-transition: .3s;
}
.top_menu .dn_btn:hover
{
    color: #ff9902;
}
.top_menu .dn_btn:last-child
{
    margin-right: 0px;
}
.top_menu .lan_pack
{
    background: #f9f9ff;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    line-height: 28px;
    margin-right: 5px;
    margin-top: 8px;
    padding-left: 19px;
    padding-right: 36px;
}
.top_menu .lan_pack .current
{
    color: #fff;
}
.top_menu .lan_pack:after
{
    border: none !important;
    content: "\f0d7";
    font: normal normal normal 12px/1 FontAwesome;
    height: auto;
    margin-top: -6px;
    right: 20px;
    transform: rotate(0deg);
}
.page-title.page-title-blog
{
    background-color: #b0b0b0;
    background-image: url("../images/blog-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.page-title.page-title-blog:after
{
    background: rgba(0,0,0,0.4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.page-title.page-title-blog h2,.page-title.page-title-blog p
{
    color: #fff;
}
.page-title.page-title-blog .template-btn
{
    background: #fff;
    color: #222 !important;
}
.page-title.page-title-blog .template-btn:hover
{
    background: #ff9902;
    color: #fff !important;
}
.blog-post-list .single-post
{
    background: transparent;
    padding: 0px 30px;
}
.single-post
{
    margin-bottom: 30px;
}
.single-post .tags
{
    margin-top: 40px;
}
.single-post .tags li
{
    display: inline-block;
}
.single-post .tags li a
{
    color: #777;
    display: inline-block;
}
.single-post .tags li a:hover
{
    color: #ff9902;
}
.single-post h1
{
    margin-bottom: 20px;
    margin-top: 20px;
}
.single-post .title h4
{
    margin-bottom: 10px;
}
.single-post .comment-wrap ul li,.single-post .social-wrap ul li
{
    display: inline-block;
    margin-right: 15px;
}
.single-post .comment-wrap ul li a,.single-post .social-wrap ul li a
{
    color: #777;
}
@media (max-width: 414px)
{
    .single-post .comment-wrap,.single-post .social-wrap
    {
        margin-top: 10px;
    }
}
.single-widget
{
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 40px 30px;
}
.single-widget .title
{
    font-weight: 600;
    margin-bottom: 30px;
}
.search-widget i
{
    color: #ff9902;
}
.search-widget form.example
{
    border: 1px solid #eee;
}
.search-widget form.example input[type=text]
{
    background: #eee;
    border: none;
    float: left;
    font-size: 14px;
    padding: 12px;
    width: 80%;
}
.search-widget form.example button
{
    background: #eee;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 17px;
    padding: 10px;
    width: 20%;
}
.search-widget form.example::after
{
    clear: both;
    content: "";
    display: table;
}
.protfolio-widget
{
    text-align: center;
}
.protfolio-widget h4
{
    padding: 20px 0;
}
.protfolio-widget ul li
{
    display: inline-block;
    padding: 15px;
}
.protfolio-widget ul li a i
{
    color: #111;
}
.protfolio-widget ul li a i:hover
{
    color: #ff9902;
}
.category-widget ul li
{
    border-bottom: 1px solid #eee;
    moz-transition: all 1s;
    o-transition: all 1s;
    padding: 10px 0;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.category-widget ul li a
{
    color: #777;
}
.category-widget ul li h6
{
    font-weight: 300;
    moz-transition: all 1s;
    o-transition: all 1s;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.category-widget ul li span
{
    moz-transition: all 1s;
    o-transition: all 1s;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.category-widget ul li:hover
{
    border-color: #ff9902;
}
.category-widget ul li:hover h6,.category-widget ul li:hover span
{
    color: #ff9902;
}
.tags-widget ul li
{
    background: #fff;
    border: 1px solid #eee;
    display: inline-block;
    margin-bottom: 8px;
    moz-transition: all 1s;
    o-transition: all 1s;
    padding: 2px 7px;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.tags-widget ul li a
{
    color: #777;
}
.tags-widget ul li:hover
{
    background-color: #ff9902;
}
.tags-widget ul li:hover a
{
    color: #fff;
}
.recent-posts-widget .single-recent-post .recent-details
{
    margin-left: 20px;
}
.recent-posts-widget .single-recent-post .recent-details h4
{
    font-size: 14px;
    line-height: 1.5em !important;
    moz-transition: all 1s;
    o-transition: all 1s;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.recent-posts-widget .single-recent-post .recent-details p
{
    margin-top: 10px;
}
.recent-posts-widget .single-recent-post:hover h4
{
    color: #ff9902;
}
@media (max-width: 960px)
{
    .recent-posts-widget .single-recent-post
    {
        margin-bottom: 20px;
    }
}
.nav-area
{
    border-bottom: 1px solid #eee;
}
.nav-area a
{
    color: #777;
}
.nav-area .nav-left .thumb
{
    padding-right: 20px;
}
.nav-area .nav-right
{
    text-align: right;
}
.nav-area .nav-right .thumb
{
    padding-left: 20px;
}
@media (max-width: 768px)
{
    .nav-area .post-details h4
    {
        font-size: 14px;
    }
}
@media (max-width: 466px)
{
    .nav-area .nav-right
    {
        margin-top: 50px;
    }
}
.comment-sec-area
{
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}
.comment-sec-area a
{
    color: #777;
}
.comment-sec-area .comment-list
{
    padding-bottom: 30px;
}
.comment-sec-area .comment-list.left-padding
{
    padding-left: 25px;
}
.comment-sec-area .thumb
{
    margin-right: 20px;
}
.comment-sec-area .date
{
    color: #cccccc;
    font-size: 13px;
}
.comment-sec-area .comment
{
    color: #777777;
}
.comment-sec-area .btn-reply
{
    background-color: #ff9902;
    border: 1px solid #eee;
    color: #fff;
    display: block;
    moz-transition: all 1s;
    o-transition: all 1s;
    padding: 8px 30px;
    transition: all 1s false false;
    webkit-transition: all 1s;
    webkit-transition-delay: 0s;
}
.comment-sec-area .btn-reply:hover
{
    background-color: transparent;
    color: #222;
}
.generic-blockquote
{
    background: #f9f9f9;
    margin: 50px 0;
    padding: 40px;
    position: relative;
}
.generic-blockquote:before
{
    background: #ff9902;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.mb-20
{
    margin-bottom: 20px;
}
.mb-30
{
    margin-bottom: 30px;
}
.sample-text-area
{
    padding: 100px 0px;
}
.sample-text-area .title_color
{
    margin-bottom: 30px;
}
.sample-text-area p
{
    line-height: 26px;
}
.sample-text-area p b
{
    color: #ff9902;
    font-weight: bold;
}
.sample-text-area p i
{
    color: #ff9902;
    font-style: italic;
}
.sample-text-area p sup
{
    color: #ff9902;
    font-style: italic;
}
.sample-text-area p sub
{
    color: #ff9902;
    font-style: italic;
}
.sample-text-area p del
{
    color: #ff9902;
}
.sample-text-area p u
{
    color: #ff9902;
}
.elements_button .title_color
{
    color: #222;
    margin-bottom: 30px;
}
.title_color
{
    color: #222;
}
.button-group-area
{
    margin-top: 15px;
}
.button-group-area:nth-child(odd)
{
    margin-top: 40px;
}
.button-group-area:first-child
{
    margin-top: 0px;
}
.button-group-area .theme_btn
{
    margin-right: 10px;
}
.button-group-area .white_btn
{
    margin-right: 10px;
}
.button-group-area .link
{
    background: transparent;
    color: #222;
    text-decoration: underline;
}
.button-group-area .link:hover
{
    color: #fff;
}
.button-group-area .disable
{
    background: transparent;
    color: #007bff;
    cursor: not-allowed;
}
.button-group-area .disable:before
{
    display: none;
}
.primary
{
    background: #52c5fd;
}
.primary:before
{
    background: #2faae6;
}
.success
{
    background: #4cd3e3;
}
.success:before
{
    background: #2ebccd;
}
.info
{
    background: #38a4ff;
}
.info:before
{
    background: #298cdf;
}
.warning
{
    background: #f4e700;
}
.warning:before
{
    background: #e1d608;
}
.danger
{
    background: #f54940;
}
.danger:before
{
    background: #e13b33;
}
.primary-border
{
    background: transparent;
    border: 1px solid #52c5fd;
    color: #52c5fd;
}
.primary-border:before
{
    background: #52c5fd;
}
.success-border
{
    background: transparent;
    border: 1px solid #4cd3e3;
    color: #4cd3e3;
}
.success-border:before
{
    background: #4cd3e3;
}
.info-border
{
    background: transparent;
    border: 1px solid #38a4ff;
    color: #38a4ff;
}
.info-border:before
{
    background: #38a4ff;
}
.warning-border
{
    background: #fff;
    border: 1px solid #f4e700;
    color: #f4e700;
}
.warning-border:before
{
    background: #f4e700;
}
.danger-border
{
    background: transparent;
    border: 1px solid #f54940;
    color: #f54940;
}
.danger-border:before
{
    background: #f54940;
}
.link-border
{
    background: transparent;
    border: 1px solid #ff9902;
    color: #ff9902;
}
.link-border:before
{
    background: #ff9902;
}
.radius
{
    border-radius: 3px;
}
.circle
{
    border-radius: 20px;
}
.arrow span
{
    padding-left: 5px;
}
.e-large
{
    line-height: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.large
{
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.medium
{
    line-height: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.small
{
    line-height: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.general
{
    line-height: 38px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.generic-banner
{
    margin-top: 60px;
    text-align: center;
}
.generic-banner .height
{
    height: 600px;
}
@media (max-width: 767.98px)
{
    .generic-banner .height
    {
        height: 400px;
    }
}
.generic-banner .generic-banner-content h2
{
    line-height: 1.2em;
    margin-bottom: 20px;
}
@media (max-width: 991.98px)
{
    .generic-banner .generic-banner-content h2 br
    {
        display: none;
    }
}
.generic-banner .generic-banner-content p
{
    font-size: 16px;
    text-align: center;
}
@media (max-width: 991.98px)
{
    .generic-banner .generic-banner-content p br
    {
        display: none;
    }
}
.generic-content h1
{
    font-weight: 600;
}
.about-generic-area
{
    background: #fff;
}
.about-generic-area p
{
    margin-bottom: 20px;
}
.white-bg
{
    background: #fff;
}
.section-top-border
{
    border-top: 1px dotted #eee;
    padding: 50px 0;
}
.switch-wrap
{
    margin-bottom: 10px;
}
.switch-wrap p
{
    margin: 0;
}
.sample-text-area
{
    padding: 100px 0 70px 0;
}
.sample-text
{
    margin-bottom: 0;
}
.text-heading
{
    font-size: 24px;
    margin-bottom: 30px;
}
.typo-list
{
    margin-bottom: 10px;
}
@media (max-width: 767px)
{
    .typo-sec
    {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px)
{
    .element-wrap
    {
        margin-top: 30px;
    }
}
b,sup,sub,u,del
{
    color: #f8b600;
}
h1
{
    font-size: 36px;
}
h2
{
    font-size: 30px;
}
h3
{
    font-size: 24px;
}
h4
{
    font-size: 18px;
}
h5
{
    font-size: 16px;
}
h6
{
    font-size: 14px;
}
.typography h1,.typography h2,.typography h3,.typography h4,.typography h5,.typography h6
{
    color: #777777;
}
.button-area .border-top-generic
{
    border-top: 1px dotted #eee;
    padding: 70px 15px;
}
.button-group-area .genric-btn
{
    margin-right: 10px;
    margin-top: 10px;
}
.button-group-area .genric-btn:last-child
{
    margin-right: 0;
}
.circle
{
    border-radius: 20px;
}
.genric-btn
{
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
    line-height: 40px;
    moz-transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    outline: none;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    webkit-transition: all 0.3s ease 0s;
}
.genric-btn:focus
{
    outline: none;
}
.genric-btn.e-large
{
    line-height: 50px;
    padding: 0 40px;
}
.genric-btn.large
{
    line-height: 45px;
}
.genric-btn.medium
{
    line-height: 30px;
}
.genric-btn.small
{
    line-height: 25px;
}
.genric-btn.radius
{
    border-radius: 3px;
}
.genric-btn.circle
{
    border-radius: 20px;
}
.genric-btn.arrow
{
    align-items: center;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    ms-flex-align: center;
    webkit-box-align: center;
}
.genric-btn.arrow span
{
    margin-left: 10px;
}
.genric-btn.default
{
    background: #f9f9ff;
    border: 1px solid transparent;
    color: #222222;
}
.genric-btn.default:hover
{
    background: #fff;
    border: 1px solid #f9f9ff;
}
.genric-btn.default-border
{
    background: #fff;
    border: 1px solid #f9f9ff;
}
.genric-btn.default-border:hover
{
    background: #f9f9ff;
    border: 1px solid transparent;
    color: #222222;
}
.genric-btn.primary
{
    background: #f8b600;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.primary:hover
{
    background: #fff;
    border: 1px solid #f8b600;
    color: #f8b600;
}
.genric-btn.primary-border
{
    background: #fff;
    border: 1px solid #f8b600;
    color: #f8b600;
}
.genric-btn.primary-border:hover
{
    background: #f8b600;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.success
{
    background: #4cd3e3;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.success:hover
{
    background: #fff;
    border: 1px solid #4cd3e3;
    color: #4cd3e3;
}
.genric-btn.success-border
{
    background: #fff;
    border: 1px solid #4cd3e3;
    color: #4cd3e3;
}
.genric-btn.success-border:hover
{
    background: #4cd3e3;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.info
{
    background: #38a4ff;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.info:hover
{
    background: #fff;
    border: 1px solid #38a4ff;
    color: #38a4ff;
}
.genric-btn.info-border
{
    background: #fff;
    border: 1px solid #38a4ff;
    color: #38a4ff;
}
.genric-btn.info-border:hover
{
    background: #38a4ff;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.warning
{
    background: #f4e700;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.warning:hover
{
    background: #fff;
    border: 1px solid #f4e700;
    color: #f4e700;
}
.genric-btn.warning-border
{
    background: #fff;
    border: 1px solid #f4e700;
    color: #f4e700;
}
.genric-btn.warning-border:hover
{
    background: #f4e700;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.danger
{
    background: #f44a40;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.danger:hover
{
    background: #fff;
    border: 1px solid #f44a40;
    color: #f44a40;
}
.genric-btn.danger-border
{
    background: #fff;
    border: 1px solid #f44a40;
    color: #f44a40;
}
.genric-btn.danger-border:hover
{
    background: #f44a40;
    border: 1px solid transparent;
    color: #fff;
}
.genric-btn.link
{
    background: #f9f9ff;
    border: 1px solid transparent;
    color: #222222;
    text-decoration: underline;
}
.genric-btn.link:hover
{
    background: #fff;
    border: 1px solid #f9f9ff;
    color: #222222;
}
.genric-btn.link-border
{
    background: #fff;
    border: 1px solid #f9f9ff;
    color: #222222;
    text-decoration: underline;
}
.genric-btn.link-border:hover
{
    background: #f9f9ff;
    border: 1px solid transparent;
    color: #222222;
}
.genric-btn.disable
{
    background: #f9f9ff;
    border: 1px solid transparent;
    color: #222222, 0.3;
    cursor: not-allowed;
}
.generic-blockquote
{
    background: #fff;
    border-left: 2px solid #f8b600;
    padding: 30px 50px 30px 30px;
}
@media (max-width: 991px)
{
    .progress-table-wrap
    {
        overflow-x: scroll;
    }
}
.progress-table
{
    background: #fff;
    min-width: 800px;
    padding: 15px 0px 30px 0px;
}
.progress-table .serial
{
    padding-left: 30px;
    width: 11.83%;
}
.progress-table .country
{
    width: 28.07%;
}
.progress-table .visit
{
    width: 19.74%;
}
.progress-table .percentage
{
    padding-right: 50px;
    width: 40.36%;
}
.progress-table .table-head
{
    display: flex;
}
.progress-table .table-head .serial,.progress-table .table-head .country,.progress-table .table-head .visit,.progress-table .table-head .percentage
{
    color: #222222;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}
.progress-table .table-row
{
    border-top: 1px solid #edf3fd;
    display: flex;
    padding: 15px 0;
}
.progress-table .table-row .serial,.progress-table .table-row .country,.progress-table .table-row .visit,.progress-table .table-row .percentage
{
    align-items: center;
    display: flex;
}
.progress-table .table-row .country img
{
    margin-right: 15px;
}
.progress-table .table-row .percentage .progress
{
    background: transparent;
    border-radius: 0px;
    width: 80%;
}
.progress-table .table-row .percentage .progress .progress-bar
{
    height: 5px;
    line-height: 5px;
}
.progress-table .table-row .percentage .progress .progress-bar.color-1
{
    background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-2
{
    background-color: #e66686;
}
.progress-table .table-row .percentage .progress .progress-bar.color-3
{
    background-color: #f09359;
}
.progress-table .table-row .percentage .progress .progress-bar.color-4
{
    background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-5
{
    background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-6
{
    background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-7
{
    background-color: #a367e7;
}
.progress-table .table-row .percentage .progress .progress-bar.color-8
{
    background-color: #e66686;
}
.single-gallery-image
{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 200px;
    margin-top: 30px;
    moz-transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    webkit-transition: all 0.3s ease 0s;
}
.single-gallery-image:hover
{
    opacity: .8;
}
.list-style
{
    height: 14px;
    width: 14px;
}
.unordered-list li
{
    line-height: 1.82em !important;
    padding-left: 30px;
    position: relative;
}
.unordered-list li:before
{
    background: #fff;
    border: 3px solid #f8b600;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 14px;
}
.ordered-list
{
    margin-left: 30px;
}
.ordered-list li
{
    color: #f8b600;
    font-weight: 500;
    line-height: 1.82em !important;
    list-style-type: decimal-leading-zero;
}
.ordered-list li span
{
    color: #777777;
    font-weight: 300;
}
.ordered-list-alpha li
{
    color: #f8b600;
    font-weight: 500;
    line-height: 1.82em !important;
    list-style-type: lower-alpha;
    margin-left: 30px;
}
.ordered-list-alpha li span
{
    color: #777777;
    font-weight: 300;
}
.ordered-list-roman li
{
    color: #f8b600;
    font-weight: 500;
    line-height: 1.82em !important;
    list-style-type: lower-roman;
    margin-left: 30px;
}
.ordered-list-roman li span
{
    color: #777777;
    font-weight: 300;
}
.single-input
{
    background: #f9f9ff;
    border: none;
    display: block;
    line-height: 40px;
    outline: none;
    padding: 0 20px;
    width: 100%;
}
.single-input:focus
{
    outline: none;
}
.input-group-icon
{
    position: relative;
}
.input-group-icon .icon
{
    left: 20px;
    line-height: 40px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.input-group-icon .icon i
{
    color: #797979;
}
.input-group-icon .single-input
{
    padding-left: 45px;
}
.single-textarea
{
    background: #f9f9ff;
    border: none;
    display: block;
    height: 100px;
    line-height: 40px;
    outline: none;
    padding: 0 20px;
    resize: none;
    width: 100%;
}
.single-textarea:focus
{
    outline: none;
}
.single-input-primary
{
    background: #f9f9ff;
    border: 1px solid transparent;
    display: block;
    line-height: 40px;
    outline: none;
    padding: 0 20px;
    width: 100%;
}
.single-input-primary:focus
{
    border: 1px solid #f8b600;
    outline: none;
}
.single-input-accent
{
    background: #f9f9ff;
    border: 1px solid transparent;
    display: block;
    line-height: 40px;
    outline: none;
    padding: 0 20px;
    width: 100%;
}
.single-input-accent:focus
{
    border: 1px solid #eb6b55;
    outline: none;
}
.single-input-secondary
{
    background: #f9f9ff;
    border: 1px solid transparent;
    display: block;
    line-height: 40px;
    outline: none;
    padding: 0 20px;
    width: 100%;
}
.single-input-secondary:focus
{
    border: 1px solid #f09359;
    outline: none;
}
.default-switch
{
    background: #fff;
    border-radius: 8.5px;
    cursor: pointer;
    height: 17px;
    position: relative;
    width: 35px;
}
.default-switch input
{
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.default-switch input+label
{
    background: #f8b600;
    border-radius: 50%;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    height: 15px;
    left: 1px;
    moz-transition: all 0.2s;
    o-transition: all 0.2s;
    position: absolute;
    top: 1px;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
    width: 15px;
}
.default-switch input:checked+label
{
    left: 19px;
}
.single-element-widget
{
    margin-bottom: 30px;
}
.primary-switch
{
    background: #fff;
    border-radius: 8.5px;
    cursor: pointer;
    height: 17px;
    position: relative;
    width: 35px;
}
.primary-switch input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.primary-switch input+label
{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.primary-switch input+label:before
{
    background: transparent;
    border-radius: 8.5px;
    bottom: 0;
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0;
    moz-transition: all 0.2s;
    o-transition: all 0.2s;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
    width: 100%;
}
.primary-switch input+label:after
{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    content: "";
    cursor: pointer;
    height: 15px;
    left: 1px;
    moz-transition: all 0.2s;
    o-transition: all 0.2s;
    position: absolute;
    top: 1px;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
    width: 15px;
}
.primary-switch input:checked+label:after
{
    left: 19px;
}
.primary-switch input:checked+label:before
{
    background: #f8b600;
}
.confirm-switch
{
    background: #fff;
    border-radius: 8.5px;
    cursor: pointer;
    height: 17px;
    position: relative;
    width: 35px;
}
.confirm-switch input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-switch input+label
{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-switch input+label:before
{
    background: transparent;
    border-radius: 8.5px;
    bottom: 0;
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0;
    moz-transition: all 0.2s;
    o-transition: all 0.2s;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
    width: 100%;
}
.confirm-switch input+label:after
{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    content: "";
    cursor: pointer;
    height: 15px;
    left: 1px;
    moz-transition: all 0.2s;
    o-transition: all 0.2s;
    position: absolute;
    top: 1px;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
    width: 15px;
}
.confirm-switch input:checked+label:after
{
    left: 19px;
}
.confirm-switch input:checked+label:before
{
    background: #4cd3e3;
}
.primary-checkbox
{
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.primary-checkbox input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.primary-checkbox input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.single-defination h4
{
    color: #222;
}
.primary-checkbox input:checked+label
{
    background: url(../images/elements/primary-check.png) no-repeat center center/cover;
    border: none;
}
.confirm-checkbox
{
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.confirm-checkbox input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-checkbox input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-checkbox input:checked+label
{
    background: url(../images/elements/success-check.png) no-repeat center center/cover;
    border: none;
}
.disabled-checkbox
{
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.disabled-checkbox input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.disabled-checkbox input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.disabled-checkbox input:disabled
{
    cursor: not-allowed;
    z-index: 3;
}
.disabled-checkbox input:checked+label
{
    background: url(../images/elements/disabled-check.png) no-repeat center center/cover;
    border: none;
}
.primary-radio
{
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.primary-radio input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.primary-radio input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.primary-radio input:checked+label
{
    background: url(../images/elements/primary-radio.png) no-repeat center center/cover;
    border: none;
}
.confirm-radio
{
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.confirm-radio input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-radio input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.confirm-radio input:checked+label
{
    background: url(../images/elements/success-radio.png) no-repeat center center/cover;
    border: none;
}
.disabled-radio
{
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;
}
.disabled-radio input
{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.disabled-radio input+label
{
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.disabled-radio input:disabled
{
    cursor: not-allowed;
    z-index: 3;
}
.unordered-list
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.ordered-list
{
    list-style: none;
    padding: 0px;
}
.disabled-radio input:checked+label
{
    background: url(../images/elements/disabled-radio.png) no-repeat center center/cover;
    border: none;
}
.default-select
{
    height: 40px;
}
.default-select .nice-select
{
    background: #fff;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
}
.default-select .nice-select .list
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 0;
    padding: 10px 0 10px 0px;
    width: 100%;
}
.default-select .nice-select .list .option
{
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    min-height: 28px;
    moz-transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    padding-left: 20px;
    transition: all 0.3s ease 0s;
    webkit-transition: all 0.3s ease 0s;
}
.default-select .nice-select .list .option.selected
{
    background: transparent;
    color: #f8b600;
}
.default-select .nice-select .list .option:hover
{
    background: transparent;
    color: #f8b600;
}
.default-select .current
{
    font-weight: 300;
    margin-right: 50px;
}
.default-select .nice-select::after
{
    right: 20px;
}
@media (max-width: 991px)
{
    .left-align-p p
    {
        margin-top: 20px;
    }
}
.form-select
{
    height: 40px;
    width: 100%;
}
.form-select .nice-select
{
    background: #f9f9ff !important;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%;
}
.form-select .nice-select .list
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 0;
    padding: 10px 0 10px 0px;
    width: 100%;
}
.mt-10
{
    margin-top: 10px;
}
.form-select .nice-select .list .option
{
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    min-height: 28px;
    moz-transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    padding-left: 45px;
    transition: all 0.3s ease 0s;
    webkit-transition: all 0.3s ease 0s;
}
.form-select .nice-select .list .option.selected
{
    background: transparent;
    color: #f8b600;
}
.form-select .nice-select .list .option:hover
{
    background: transparent;
    color: #f8b600;
}
.form-select .current
{
    font-weight: 300;
    margin-right: 50px;
}
.form-select .nice-select::after
{
    right: 20px;
}
.page_link a
{
    color: #fff;
}
.template-btn
{
    background: #ff9902;
    border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    moz-border-radius: 3px;
    moz-transition: all .5s;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    o-transition: all .5s;
    padding: 15px 30px !important;
    text-transform: uppercase;
    transition: all 0.5s;
    webkit-border-radius: 3px;
    webkit-transition: all .5s;
}
.template-btn:hover
{
    background: #111;
}
.secondary-btn
{
    color: #222;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    moz-transition: all .5s;
    o-transition: all .5s;
    text-transform: uppercase;
    transition: all 0.5s;
    webkit-transition: all .5s;
}
.secondary-btn:hover
{
    color: #ff9902;
}
.secondary-btn:hover span:before
{
    color: #ff9902;
    margin-left: 14px;
}
.secondary-btn span:before
{
    font-size: 14px;
    margin-left: 10px;
    moz-transition: .2s;
    o-transition: .2s;
    transition: .2s;
    webkit-transition: .2s;
}
.third-btn
{
    background: #ff9902;
    border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    moz-border-radius: 3px;
    moz-transition: all .5s;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    o-transition: all .5s;
    padding: 10px 24px !important;
    text-transform: uppercase;
    transition: all 0.5s;
    webkit-border-radius: 3px;
    webkit-transition: all .5s;
}
.third-btn:hover
{
    background: #222;
}
.forth-btn
{
    background: transparent;
    border: 1px solid #ff9902;
    border-radius: 3px;
    color: #222;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    moz-border-radius: 3px;
    moz-transition: all .5s;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    o-transition: all .5s;
    padding: 10px 24px !important;
    text-transform: uppercase;
    transition: all 0.5s;
    webkit-border-radius: 3px;
    webkit-transition: all .5s;
}
.forth-btn:hover
{
    background: #04091e;
    border: 1px solid transparent;
    color: #fff;
}
form .template-btn
{
    border: none;
}
.download-btn
{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 20px;
    max-width: 225px;
    moz-border-radius: 5px;
    moz-transition: .5s;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    o-transition: .5s;
    padding: 16px 24px 6px;
    transition: .5s;
    webkit-border-radius: 5px;
    webkit-transition: .5s;
}
@media (max-width: 575.98px)
{
    .download-btn
    {
        display: block;
    }
}
.download-btn:hover
{
    background: #ff9902;
    border: 1px solid transparent;
}
.download-btn:hover a,.download-btn:hover i
{
    color: #fff;
}
.download-btn a
{
    color: #222;
}
.download-btn i
{
    color: #ff9902;
    font-size: 44px;
    margin-top: -8px;
    padding-right: 20px;
}
.download-btn p
{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px !important;
    text-align: left;
}
.download-btn span
{
    font-size: 24px;
    font-weight: 600;
}
.sidebar-btn
{
    background: #fff;
    border: 1px solid #eee;
    color: #222;
    display: inline-block;
    moz-transition: .5s;
    o-transition: .5s;
    padding: 12px 20px;
    transition: .5s;
    webkit-transition: .5s;
    width: 100%;
}
.sidebar-btn:hover
{
    background: #ff9902;
    border: 1px solid transparent;
    color: #fff;
}
.section-padding
{
    padding: 50px 0;
}
.section-padding2
{
    padding-top: 140px;
}
.section-padding3
{
    padding-bottom: 140px;
}
.section-top
{
    margin-bottom: 80px;
}
.section-top p
{
    font-style: italic;
}
.tab-item li
{
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    moz-transition: .5s;
    o-transition: .5s;
    text-transform: uppercase;
    transition: .5s;
    webkit-transition: .5s;
}
.tab-item li:hover
{
    color: #ff9902;
}




/**
	ПРАВКИ ШАБЛОНА
**/

@import url("https://fonts.googleapis.com/css?family=Roboto|Russo+One&display=swap");

@keyframes show {
    0%{opacity:0;}
	100% {opacity:1;}
}

.logo-area .logo-text{
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
	font-size: 34px;
	
}

.tabs{

}

.tabs .tab{
	    text-align: center;    
		cursor: pointer;
        padding: 10px 20px;
		float: left;	
}

.tabs .tab{
	border:3px solid #fff;
}

.tabs .active{
	border:3px solid #ff9902 !important;
}


.tabs .active span{
	border-bottom: none;
}

.banner-area .banner-bg-img1{
	background-image: url(../images/banner-bg1.jpg);
}

.banner-area .banner-bg-img2{
	background-image: url(../images/banner-bg2.jpg);
}

.banner-area .banner-bg-img3{
	background-image: url(../images/banner-bg3.jpg);
}

.fills .fill{
	display: none;
}

.fills .active{
	display: block;
	animation: show 0.5s;
}



/**
	форма
**/

.ordercallform{
	display: none;
}


.ordercallform .link {
    margin-top: 200px;
}

.ordercallform .backgroundhide {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: auto;
}

.ordercallform .box_shadow {
    background: #000;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.ordercallform .form {
    z-index: 2;
    position: absolute;
    left: 50%;
    background: #fff;
    padding: 25px;
    margin-left: -262px;
    margin-top: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-family: Roboto, serif !important;
    color: #333333;
    font-size: 14px;
    text-align: left;
    overflow: visible;
    margin-bottom: 30px;
	display: disp;
}

.ordercallform .form .header {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #333333;
}

.ordercallform .headerinfo {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #828282;
    margin-top: 25px;

}

.ordercallform .namefield .field {
    margin-top: 12px;
    font-size: 12px;
    margin-bottom: 5px;
}

.ordercallform .title {
    margin-bottom: 15px;
}

.ordercallform input, .ordercallform textarea {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 10px;
    box-shadow: none;
}

.ordercallform input[type=text] {
    width: 470px;
}

.ordercallform input[type=text]:focus, .ordercallform textarea:focus {
    outline: none;
    border: 1px solid #ff9902;
}

.ordercallform textarea {
    width: 470px;
    height: 120px;
    margin-bottom: 20px;
    resize: none;
}

.ordercallform .red::after {
    content: "*";
    color: #f00;
    font-size: 16px;
}

.ordercallform .white:after {
    color: #fff !important;
}

.ordercallform input[type=checkbox] {
    background: #FFFFFF;
    border: 2px solid #27AE60;
    box-sizing: border-box;
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

.ordercallform .containercheck {
    padding-bottom: 0 !important;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 28px;
    padding-top: 3px;
}

.ordercallform .containercheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ordercallform .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 2px solid #828282;
    box-sizing: border-box;
    border-radius: 2px;
}

.ordercallform .containercheck:hover input ~ .checkmark {
    background: #FFFFFF;
    border: 2px solid #828282;
    box-sizing: border-box;
    border-radius: 2px;
}

.ordercallform .containercheck input:checked ~ .checkmark {
    border: 2px solid #27AE60;
}

.ordercallform .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.ordercallform .containercheck input:checked ~ .checkmark:after {
    display: block;
}

.ordercallform .containercheck .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid #27AE60;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ordercallform .containercheck a {
    border-bottom: none;
    text-decoration: none;
    color: #27AE60 !important;
}

.ordercallform a:hover {
    border-bottom: 1px solid #27AE60;
    color: #27AE60 !important;
    text-decoration: none;
}

.ordercallform input[type=submit].buttonOrdercal {
    padding: 0 !important;
    margin: 0 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #27AE60;
    border-radius: 5px;
    width: 470px;
    height: 50px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
	    background: #ff9902;
    border-radius: 3px;
    color: #fff !important;
	text-transform: uppercase;
}

/* Неактивная кнопка */
.ordercallform input[type=submit]:disabled {
    background: #F2F2F2 !important;
    color: #E0E0E0;
    cursor: default;

}

/* Неверно введена капча */
.ordercallform .errorbot {
    background: rgba(250, 55, 55, 0.1);
    border-radius: 4px;
    color: #FA3737;
    padding: 8px 10px 8px 16px;
    margin: 20px 0;
}

.ordercallform input[type=text].error {
    border: 1px solid #FA3737 !important;
}

.ordercallform .message {
    display: none;
    background: #FA3737;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    float: right;
    padding: 4px 11px;
    margin-top: 4px;
    line-height: 12px;
}

.ordercallform .message:before {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-bottom: 5px #FA3737;
    margin-top: -10px;
    margin-left: 103px;
}

.ordercallform .headerblock {
    margin-top: 25px;
    font-weight: 600;
    font-size: 16px;
}

.ordercallform .namefield {
    margin-top: -1px;
}

.ordercallform .close {
    background-image: url(../images/close.svg);
    width: 14px;
    height: 14px;
    position: relative;
    float: right;
    cursor: pointer;
}

.ordercallform .result div {
    display: inline;
    font-size: 12px;
    text-align: center;
    color: #828282;
    margin-right: 37px;
    font-weight: 400;
}

.ordercallform .ui-slider-horizontal {
    height: 2px !important;
    cursor: pointer !important;
    margin-left: 5px;
}

.ordercallform .ui-widget.ui-widget-content {
    border: none !important;
}

.ordercallform .ui-widget-content {
    border: none !important;
    background: #F2F2F2 !important;
}

.ordercallform .ui-widget-header {
    background: #27AE60 !important;
}

.ordercallform .ui-slider .ui-slider-handle {
    width: 11px !important;
    height: 20px !important;
    border: 2px solid #27AE60 !important;
    border-radius: 3px !important;
    background: #fff url(../img/point.png) no-repeat center center;
}

.ordercallform .ui-state-default,
.ordercallform .ui-widget-content .ui-state-default,
.ordercallform .ui-widget-header .ui-state-default,
.ordercallform .ui-button,
.ordercallform html .ui-button.ui-state-disabled:hover,
.ordercallform html .ui-button.ui-state-disabled:active {
    border: 2px solid #27AE60 !important;
    font-weight: normal !important;
    cursor: pointer !important;
}

.ordercallform .ui-slider-horizontal .ui-slider-handle {
    top: -10px !important;
    margin-left: -5px !important;
}

.ordercallform .ui-slider-horizontal .ui-slider-handle:nth-last-child(1) {
    margin-left: -5px !important;
}

.ordercallform .polzunok {
    margin-top: 30px;
    margin-bottom: 18px;
    width: 96%;
}

.ordercallform .line {
    height: 2px;
    background: #F2F2F2;
    width: 89.5%;
    position: absolute;
    margin-top: 15px;

}

.ordercallform .captcha {
    margin-top: 0;
    margin-bottom: 15px;
}

.ordercallform p {
    margin-left: 20%;
    margin-top: 5px;
}

.ordercallform .wa-captcha p img {
    margin-top: 0 !important;
}

.ordercallform input[name=captcha] {
    width: 150px;
    margin-top: 5px;
}

.ordercallform p:last-child {
    margin-top: 5px;
}

.ordercallform .wa-captcha {
    padding: 0;
}

.ordercallform .captcha .g-recaptcha {
    margin: 0 auto;
    left: 50%;
    margin-left: -155px;
    position: relative;
    width: 472px;
    height: 80px;
}

@media (max-width: 600px) {
    .ordercallform .backgroundhide {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        padding: 50px;
        overflow: auto;
    }

    .ordercallform .box_shadow {
        background: #fff;
        opacity: 1;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
    }

    .ordercallform .form {
        width: auto;
        z-index: 2;
        position: fixed;
        left: auto;
        background: #fff;
        border-radius: 5px;
        box-shadow: none;
        display: inline-block;
        overflow: visible;
        top: 50px;
        margin: 0 auto 30px;
    }

    .ordercallform input[type=text] {
        width: 100%;
    }

    .ordercallform textarea {
        width: 100%;
    }

    .ordercallform input[type=submit].buttonOrdercal {
        width: 100%;
    }

    .ordercallform .result div {
        margin-right: 18.7px;
    }

    .ordercallform .result div:last-child {
        margin-right: 0;
    }

    .ordercallform .timeline {
        width: 300px;
    }

    .ordercallform .line {
        width: 300px;

    }

    .ordercallform .captcha p {
        margin-left: 0;
    }

    .ordercallform .wa-captcha p img {
        margin-top: 0 !important;
    }

    .ordercallform input[name=captcha] {
        width: 150px;
        margin-top: 5px;
    }

    .ordercallform .captcha .g-recaptcha {
        margin: 0 auto;
        left: 50%;
        margin-left: -155px;
        position: relative;
        width: 100%;
        height: 80px;
    }
}

.buttonmargin{
	   margin-top: 40px;
}

.baza{
	 width: 25%;
    float: left;
    margin-top: 10px;
}

.baza .number{
    font-size: 50px;
    font-weight: bold;
}

.baza .desc{
	//width: 200px;
}

.section-top span{
	border-bottom: 1px dashed #ff9902;
	cursor: pointer;
	color:#ff9902;
}

.section-top span:hover{
	border-bottom: none;
}

.comp td{
	    padding: 20px 50px;
}

.comp .th{
	background-color: #f1f3f5;
	color: #777;
}