<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Фатум. Digital competence - система развития цифровой компетенции страны</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}assets/images/logo/favicon.ico" type="image/x-icon">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/Ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/skins/_all-skins.min.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/morris.js/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/jvectormap/jquery-jvectormap.css">
        <!-- Date Picker -->
        <link rel="stylesheet"
              href="{{ STATIC_URL }}bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ STATIC_URL }}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">

        <script src="{{ STATIC_URL }}scripts/jquery-1.11.0.min.js"></script>
        <script src="{{ STATIC_URL }}scripts/ui/jquery-ui.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}scripts/black-tie/jquery-ui.css">

        {% block site_wrapper %}{% endblock %}


        <!-- jQuery 3 -->

{#        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>#}
        <!-- jQuery UI 1.11.4 -->
        <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="{{ STATIC_URL }}bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>\
        <!-- SlimScroll -->
        <script src="{{ STATIC_URL }}bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
        <!-- Morris.js charts -->
        <script src="{{ STATIC_URL }}bower_components/raphael/raphael.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/morris.js/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="{{ STATIC_URL }}bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="{{ STATIC_URL }}plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="{{ STATIC_URL }}plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="{{ STATIC_URL }}bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="{{ STATIC_URL }}bower_components/moment/min/moment.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="{{ STATIC_URL }}bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{{ STATIC_URL }}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="{{ STATIC_URL }}bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="{{ STATIC_URL }}dist/js/adminlte.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{{ STATIC_URL }}dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{ STATIC_URL }}dist/js/demo.js"></script>
        <!-- page script -->
        <script>
          $(function () {
            $('#example1').DataTable({
{#              'paging'      : false,#}
{#              'lengthChange': false,#}
{#              'searching'   : true,#}
{#              'ordering'    : true,#}
{#              'info'        : true,#}
{#              'autoWidth'   : false,#}
            mark: {
                element: 'span',
                className: 'highlight'
            },
            "aaSorting": [],
            "pageLength": 100,
            "aLengthMenu": [[100, 500], [100, 500]],
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
            })
          })
        </script>


{##}
{#        <!-- Bootstrap 3.3.7 -->#}
{#        <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>#}
        <!-- Select2 -->
        <script src="{{ STATIC_URL }}bower_components/select2/dist/js/select2.full.min.js"></script>
        <!-- InputMask -->
        <script src="{{ STATIC_URL }}plugins/input-mask/jquery.inputmask.js"></script>
        <script src="{{ STATIC_URL }}plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
        <script src="{{ STATIC_URL }}plugins/input-mask/jquery.inputmask.extensions.js"></script>

{#        <!-- date-range-picker -->#}
{#        <script src="{{ STATIC_URL }}bower_components/moment/min/moment.min.js"></script>#}
{#        <script src="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>#}
{#        <!-- bootstrap datepicker -->#}
{#        <script src="{{ STATIC_URL }}bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>#}
{#        <!-- bootstrap color picker -->#}
{#        <script src="{{ STATIC_URL }}bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>#}
{#        <!-- bootstrap time picker -->#}
{#        <script src="{{ STATIC_URL }}plugins/timepicker/bootstrap-timepicker.min.js"></script>#}
{#        <!-- SlimScroll -->#}
{#        <script src="{{ STATIC_URL }}bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>#}
{#        <!-- iCheck 1.0.1 -->#}
{#        <script src="{{ STATIC_URL }}plugins/iCheck/icheck.min.js"></script>#}
{#        <!-- FastClick -->#}
{#        <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>#}
{#        <!-- AdminLTE App -->#}
{#        <script src="{{ STATIC_URL }}dist/js/adminlte.min.js"></script>#}
{#        <!-- AdminLTE for demo purposes -->#}
{#        <script src="{{ STATIC_URL }}dist/js/demo.js"></script>#}
        <!-- Page script -->
        <script>
          $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Datemask dd/mm/yyyy
            $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY h:mm A' })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
              {
                ranges   : {
                  'Today'       : [moment(), moment()],
                  'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                  'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
              },
              function (start, end) {
                $('#daterange-btn span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'))
              }
            )

            //Date picker
            $('#datepicker').datepicker({
              autoclose: true
            })

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
              checkboxClass: 'icheckbox_minimal-blue',
              radioClass   : 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
              checkboxClass: 'icheckbox_minimal-red',
              radioClass   : 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
              checkboxClass: 'icheckbox_flat-green',
              radioClass   : 'iradio_flat-green'
            })

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            //Timepicker
            $('.timepicker').timepicker({
              showInputs: false
            })
          })
        </script>
        {% if deal %}
            <script>
              $(function () {
                "use strict";
                //DONUT CHART
                var donut = new Morris.Donut({
                  element: 'sales-chart',
                  resize: true,
                  colors: ["#3c8dbc", "#00a65a", "#ff8c00"],
                  data: [
                    {label: "Покупка", value: {{ deal.get_summa_in_chart }} },
                    {label: "Продажа", value: {{ deal.get_summa_out_chart }} },
                    {label: "Прибыль", value: {{ deal.get_summa_result_chart }} }
                  ],
                  hideHover: 'auto'
                });
              });
            </script>
        {% endif %}
{##}
{#                            {% if deal.get_summa_result %}#}
{#                             <div class="box-header">#}
{#                                <h3 class="box-title">Чистая прибыль: {{ deal.get_summa_result }}</h3>#}
{#                             </div>#}
{#                        {% endif %}#}
{#                        {% if deal.get_summa_out %}#}
{#                             <div class="box-header">#}
{#                                <h3 class="box-title">Сумма исходящая: {{ deal.get_summa_out }}</h3>#}
{#                             </div>#}
{#                        {% endif %}#}
{#                        {% if deal.get_summa_in %}#}
{#                             <div class="box-header">#}
{#                                <h3 class="box-title">Сумма входящая: {{ deal.get_summa_in }}</h3>#}
{#                             </div>#}
{#                        {% endif %}#}
    </body>
</html>