<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One&display=swap" rel="stylesheet">

    <!-- Page Title -->
    <title>Фатум</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/images/logo/favicon.ico" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/fonts/flat-icon/flaticon.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/nice-select.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/style.css">
</head>
<body>
{#<div class="ordercallform">#}
{#    <div class="backgroundhide">#}
{#        <div class="form">#}
{#            <form name="ordercall" class="ordercallsent" method="post">#}
{#                <div class="close"></div>#}
{#                <div class="header">Авторизация</div>#}
{#                <div class="headerinfo">Введите логин и пароль</div>#}
{#                <div class="hideform">#}
{#                    <div class="namefield">#}
{#                        <div class="field">#}
{#                            Логин#}
{#                            <span class="red"></span>#}
{#                        </div>#}
{#                        <input name="name" type="text"><br>#}
{#                        <div class="message">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="namefield">#}
{#                        <div class="field">#}
{#                            Пароль#}
{#                            <span class="red"></span>#}
{#                        </div>#}
{#                        <input name="phone" type="text" class="phonemask"><br>#}
{#                        <div class="message">#}
{#                        </div>#}
{#                    </div>#}
{#					<div class="buttonmargin">#}
{#                    <input type="submit" value="Авторизоваться" class="buttonOrdercal" name="button" disabled>#}
{#					</div>#}
{#                </div>#}
{#            </form>#}
{#</div>#}
{# <div class="box_shadow">#}
{#        </div>#}
{#</div>#}
{#</div>#}
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area main-header">
        <div class="container">



            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><div class="logo-text">фатум</div></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">Главная</a></li>
                            <li><a href="about.html">О проекте</a>
							<ul class="sub-menu">
                                    <li><a href="job-search.html">Для университетов</a></li>
                                    <li><a href="job-single.html">Для работодателей</a></li>
                                    <li><a href="pricing-plan.html">Для соискателей</a></li>
                                </ul>
							</li>

                            <li><a href="job-category.html">новости</a></li>
                            <li><a href="#">контакты</a>
                            </li>

                            <li class="menu-btn">
{#                                <a href="#" class="login link" data-id="1">Авторизация</a>#}
{#                                <a href="#" class="template-btn link" data-id="2">Регистрация</a>#}
                                <a href="/lk/" class="login link">Войти</a>
                                <a href="/lk/" class="template-btn link">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
					<!-- Слайдер -->
				<div class="container">
					<div class="tabs">
						<p class="tab active" data-id="1"><span>Бизнес</span></p>
						<p class="tab" data-id="2"><span>Образование</span></p>
						<p class="tab" data-id="3"><span>Специалисты</span></p>
					</div>
				</div>
    <!-- Banner Area Starts -->

	<div style="clear:both;"></div>
	<div class="fills">
		<div class="fill1 fill active" data-id="1">
			<section class="banner-area">
				<div class="container-fluid">
					<div class="row">
									<div class="col-lg-6 px-0">
										<div class="banner-bg banner-bg-img1"></div>
									</div>
									<div class="col-lg-6 align-self-center">
										<div class="banner-text">
											<h1>позаботьтесь о <span>будущих кадрах</span> уже сегодня!</h1>
											<p class="py-3">Формируйте профиль специальности и отправляйте заявку в учебные заведения на подготовку нужных вам специалистов. Экономьте время на собеседование кандидатов, которые не соответствуют вакансии. </p>
											<a href="#" class="secondary-btn">подробнее<span class="flaticon-next"></span></a>
										</div>
									</div>

					</div>
				</div>
			</section>
		</div>
			<div class="fill2 fill" data-id="2">
			<section class="banner-area">
				<div class="container-fluid">
					<div class="row">
									<div class="col-lg-6 px-0">
										<div class="banner-bg banner-bg-img2"></div>
									</div>
									<div class="col-lg-6 align-self-center">
										<div class="banner-text">
											<h1>умный подбор вакансий<span> по вашим</span> компетенциям!</h1>
											<p class="py-3">Пройдите тестирование и получите доступ к ваканчиям, которые соответствуют вашему опыту и знаниям. Экономьте время на поиски работы. </p>
											<a href="#" class="secondary-btn">подробнее<span class="flaticon-next"></span></a>
										</div>
									</div>
					</div>
				</div>
			</section>
		</div>
			<div class="fill3 fill" data-id="3">
			<section class="banner-area">
				<div class="container-fluid">
					<div class="row">
									<div class="col-lg-6 px-0">
										<div class="banner-bg banner-bg-img3"></div>
									</div>
									<div class="col-lg-6 align-self-center">
										<div class="banner-text">
											<h1>готовьте <span>востребованных</span> специалистов!</h1>
											<p class="py-3">Получайте актуальную информацию от работодателей и формируйте учебную программу в соответствии с потребностями рынка труда. Получите 100% трудоустройство выпускников по специальности. </p>
											<a href="#" class="secondary-btn">подробнее<span class="flaticon-next"></span></a>
										</div>
									</div>
					</div>
				</div>
			</section>
		</div>
	</div>
    <!-- Banner Area End -->

    <!-- Search Area Starts -->
    <div class="search-area">
        <div class="search-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" class="d-md-flex justify-content-between">
                            <select>
                                <option value="1">Работодатель</option>
                                <option value="2">Соискатель</option>
                                <option value="3">Университет</option>
                            </select>
                            <select>
                                <option value="1">Город</option>
                                <option value="2">Екатеринбург</option>
                                <option value="3">Уфа</option>
                                <option value="4">Тюмень</option>
                            </select>
                            <input type="text" placeholder="Искать по компетенции" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Искать по компетенции'" required>
                            <button type="submit" class="template-btn">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Area End -->

	    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>В базе:</h2>
						<div class="section">
                        <div class="baza">
							<div class="number">
								917
							</div>
							<div class="desc">
								вакансий
							</div>
						</div>
						<div class="baza">
							<div class="number">
								18 158
							</div>
							<div class="desc">
								компаний
							</div>
						</div>
						<div class="baza">
							<div class="number">
								120 000
							</div>
							<div class="desc">
								специалистов
							</div>
						</div>
						<div class="baza">
							<div class="number">
								120
							</div>
							<div class="desc">
								учебных заведений
							</div>
						</div>
						</div>
                    </div>
                </div>
            </div>
            </div>
			<section>

			<div class="" style="height:50px;"></div>
				    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="section-top text-center">
                        <h2>Популярные компетенции в <span>Екатеринбурге</span></h2>
						<div class="section">
						<p>Среди: <span>работодателей</span></p>
							<div class="comp">
									<table class="col-lg-12">
										<tr>
											<td class="th">
												Компетенция
											</td>
											<td class="th">
												Индекс популярности<br><span>как рассчитывается</span>
											</td>
											<td class="th">
												Заработная плата на вакансиях<br>с такой компетенцией, тыс. руб.
											</td>
										</tr>
										<tr>
											<td>
												HTML
											</td>
											<td>
												55
											</td>
											<td>
												25 000
											</td>
										</tr>
										<tr>
											<td>
												CSS
											</td>
											<td>
												50
											</td>
											<td>
												30 000
											</td>
										</tr>
										<tr>
											<td>
												PHP
											</td>
											<td>
												75
											</td>
											<td>
												55 000
											</td>
										</tr>

									</table>

							</div>

						</div>
                    </div>
                </div>
            </div>
            </div>
			<section>

    <!-- Feature Area Starts -->
	<!--
    <section class="feature-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>UX/UI Designer</h4>
                        <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                        <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>web Designer</h4>
                        <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                        <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <h4>Accounting and Finance</h4>
                        <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                        <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Category Area Starts -->
    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Поиск по группам компетенций</h2>
                        <p>Компетенции объединены в группы по профессиям</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="{{ STATIC_URL }}assets/images/cat1.png" alt="category">
                        <h4>Front-End разработчик</h4>
                        <h5>15 компетенций</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="{{ STATIC_URL }}assets/images/cat2.png" alt="category">
                        <h4>PHP-разработчик</h4>
                        <h5>10 компетенцией</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="{{ STATIC_URL }}assets/images/cat3.png" alt="category">
                        <h4>JAVA-разработчик</h4>
                        <h5>18 компетенций</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="{{ STATIC_URL }}assets/images/cat4.png" alt="category">
                        <h4>WEB-дизайнер</h4>
                        <h5>35 компетенций</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-lg-0">
                        <img src="{{ STATIC_URL }}assets/images/cat5.png" alt="category">
                        <h4>Project-manager</h4>
                        <h5>10 компетенций</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-lg-0">
                        <img src="{{ STATIC_URL }}assets/images/cat6.png" alt="category">
                        <h4>Data-инженер</h4>
                        <h5>250 open job</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-md-0">
                        <img src="{{ STATIC_URL }}assets/images/cat7.png" alt="category">
                        <h4>Perl-разработчик</h4>
                        <h5>5 компетенций</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center">
                        <img src="{{ STATIC_URL }}assets/images/cat8.png" alt="category">
                        <h4>поддержка пользователей</h4>
                        <h5>15 компетенций</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End -->

    <!-- Jobs Area Starts -->
	<!--
    <section class="jobs-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jobs-title">
                        <h2>Browse recent jobs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jobs-tab tab-item">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="home" aria-selected="true">recent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#full-time" role="tab" aria-controls="profile" aria-selected="false">full time</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#part-time" role="tab" aria-controls="part-time" aria-selected="false">part time</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#intern" role="tab" aria-controls="intern" aria-selected="false">intern</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Assistant Executive - Production/ Quality Control</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-img align-self-center">
                                    <img src="assets/images/job1.png" alt="job">
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="#" class="third-btn job-btn1">full time</a>
                                    <a href="#" class="third-btn">apply</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="full-time" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Asst. Manager, Production (Woven Dyeing)</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-img align-self-center">
                                    <img src="assets/images/job2.png" alt="job">
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="#" class="third-btn job-btn2">full time</a>
                                    <a href="#" class="third-btn">apply</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="part-time" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Deputy Manager/ Assistant Manager - Footwear</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-img align-self-center">
                                    <img src="assets/images/job3.png" alt="job">
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="#" class="third-btn job-btn3">full time</a>
                                    <a href="#" class="third-btn">apply</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="intern" role="tabpanel" aria-labelledby="contact-tab2s">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>R&D Manager (Technical Lab Department)</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-img align-self-center">
                                    <img src="assets/images/job4.png" alt="job">
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="#" class="third-btn job-btn4">full time</a>
                                    <a href="#" class="third-btn">apply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="single-job d-lg-flex justify-content-between">
                        <div class="job-text">
                            <h4>Manager/ Asst. Manager (Quality Assurance)</h4>
                            <ul class="mt-4">
                                <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                            </ul>
                        </div>
                        <div class="job-img align-self-center">
                            <img src="assets/images/job5.png" alt="job">
                        </div>
                        <div class="job-btn align-self-center">
                            <a href="#" class="third-btn job-btn2">full time</a>
                            <a href="#" class="third-btn">apply</a>
                        </div>
                    </div> -->
					<!--
                </div>
            </div>
            <div class="more-job-btn mt-5 text-center">
                <a href="#" class="template-btn">more job post</a>
            </div>
        </div>
    </section>
    <!-- Jobs Area End -->

    <!-- Newsletter Area Starts -->
    <section class="newsletter-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Подписка на рассылку</h2>
                        <p>Подпишитесь и получайте новости рынка труда!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="email" placeholder="Введите ваш email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите Ваш email'" required>
                        <button type="submit" class="template-btn">подписаться сейчас</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter Area End -->

    <!-- Employee Area Starts -->
    <section class="employee-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Отзывы о сервисе</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="employee-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img employee1">
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>Иван Иванов</h3>
                                        <h5>Facebook</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>Сервис нравится! Зарегистрировался и сразу же нашел работу мечты!</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img employee2">
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>Петр Петров</h3>
                                        <h5>Twitter</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>Сервис помог мне быстро сформировать команду для проекта.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Employee Area End -->

    <!-- News Area Starts -->

    <section id="blog" class="news-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Последние новости</h2>
{#                        <p>Самая актуальная информация о развитии сервиса</p>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-news mb-5 mb-lg-0">
                        <div class="news-img news-img1"></div>
                        <div class="news-tag">
                            <ul class="my-4">
                                <li><h5><i class="fa fa-calendar-o"></i> 28.07.2019</h5></li>
                                <li class="separator mx-2"><span></span></li>
                                <li><h5><i class="fa fa-folder-open-o"></i> Партнеры</h5></li>
                            </ul>
                        </div>
                        <div class="news-title">
                            <h4><a href="#">В систему подключен Уральский федеральный университет</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-news mb-5 mb-lg-0">
                        <div class="news-img news-img2"></div>
                        <div class="news-tag">
                            <ul class="my-4">
                                <li><h5><i class="fa fa-calendar-o"></i> 27.07.2019</h5></li>
                                <li class="separator mx-2"><span></span></li>
                                <li><h5><i class="fa fa-folder-open-o"></i> Система</h5></li>
                            </ul>
                        </div>
                        <div class="news-title">
                            <h4><a href="#">Обновлен личный кабинет пользователя</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-news">
                        <div class="news-img news-img3"></div>
                        <div class="news-tag">
                            <ul class="my-4">
                                <li><h5><i class="fa fa-calendar-o"></i> 27.07.2019</h5></li>
                                <li class="separator mx-2"><span></span></li>
                                <li><h5><i class="fa fa-folder-open-o"></i> Партнеры</h5></li>
                            </ul>
                        </div>
                        <div class="news-title">
                            <h4><a href="#">Представители бизнеса высказались за развитие сервиса</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News Area End -->

    <!-- Download Area Starts -->
    <section class="download-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="download-text">
                        <h2>Установите наше приложение</h2>
                        <p class="py-3">Установите приложение, и вы сможете пользоваться вашим сервисом с мобильного устройства. </p>
                        <div class="download-button d-sm-flex flex-row justify-content-start">
                            <div class="download-btn mb-3 mb-sm-0 flex-row d-flex">
                                <i class="fa fa-apple" aria-hidden="true"></i>
                                <a href="#">
                                    <p>
                                        <span>Скачать</span> <br>
                                        для App Store
                                    </p>
                                </a>
                            </div>
                            <div class="download-btn dark flex-row d-flex">
                                <i class="fa fa-android" aria-hidden="true"></i>
                                <a href="#">
                                    <p>
                                        <span>Скачать</span> <br>
                                        для Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <a href="http://qrcoder.ru" target="_blank"><img src="http://qrcoder.ru/code/?http%3A%2F%2Ffatum.uts-ma.ru&4&0" width="132" height="132" border="0" title="QR код"></a>
                    </div>
                </div>
                <div class="col-lg-6 pr-0">
                    <div class="download-img"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Area End -->

    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3">
                            <div class="single-widget-home mb-5 mb-lg-0">
                                <h3 class="mb-4">Категории</h3>
                                <ul>
                                    <li class="mb-2"><a href="#">университеты</a></li>
                                    <li class="mb-2"><a href="#">работодатели</a></li>
                                    <li class="mb-2"><a href="#">соискатели</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6">
                            <div class="single-widget-home mb-5 mb-lg-0">
                                <h3 class="mb-4">Подписка</h3>
                                <p class="mb-4">Подпишитесь на наши обновления</p>
                                <form action="#">
                                    <input type="email" placeholder="Введите Ваш email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите Ваш email'" required>
                                    <button type="submit" class="template-btn">подписаться</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-3 offset-xl-1 col-lg-3">
                            <div class="single-widge-home">
                                <!--<h3 class="mb-4">instagram feed</h3>
                                <div class="feed">
                                    <img src="assets/images/feed1.jpg" alt="feed">
                                    <img src="assets/images/feed2.jpg" alt="feed">
                                    <img src="assets/images/feed3.jpg" alt="feed">
                                    <img src="assets/images/feed4.jpg" alt="feed">
                                    <img src="assets/images/feed5.jpg" alt="feed">
                                    <img src="assets/images/feed6.jpg" alt="feed">
                                    <img src="assets/images/feed7.jpg" alt="feed">
                                    <img src="assets/images/feed8.jpg" alt="feed">
                                </div>
								-->
								<h3 class="mb-4">О проекте</h3>
                                <ul>
                                    <li class="mb-2"><a href="#">миссия</a></li>
                                    <li class="mb-2"><a href="#">цели</a></li>
                                    <li class="mb-2"><a href="#">контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Фатум
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{{ STATIC_URL }}assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="{{ STATIC_URL }}assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/vendor/wow.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/vendor/owl-carousel.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/vendor/ion.rangeSlider.js"></script>
    <script src="{{ STATIC_URL }}assets/js/main.js"></script>
</body>
</html>
